/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  height: 100vh;
  background: var(--background);
  color: var(--text-primary);
  font-family: sans-serif;
}


:root {
  --background: rgb(193, 227, 240);
  --text-primary: black;
}
[data-theme='dark'] {
  --background: black;
  --text-primary: white;
}