button {
  background-color: transparent;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  margin: 5px 20px;
  text-align: center;
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  /* transition: 0.5s; */
}

button:hover {
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

button:active {
  border: 1px solid black;
  /* transform: translateY(2px); */
}
